.contact-btn
    position: relative
    display: inline-block
    padding: 2 4em
    border-radius: 30px
    @include font_settings (Lato, 24px, 700, $white)
    &:hover
        cursor: pointer

.contact-btn-top    
    vertical-align: bottom
    margin-bottom: 30px    
    border: 2px solid $white
    text-align: center 
    box-sizing: border-box   
    
.contact-btn-bottom
    background: $main_color
    text-align: center
    box-sizing: border-box
    line-height: 1.5em
    margin-top: 30px
    border: 2px solid darken($white, 4)
.registration-form-block
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(60, 60, 60, 0.4)
    z-index: 2
.active-form-part
    position: relative
    height: 50%
    width: 60%
    margin: 15% auto
    background: $main_color
.contact-inputs 
    width: 80%
    height: 30px
    margin-top: 2em
.contact-area
    @extend .contact-inputs
    height: 30%

@media only screen and (max-width: $small) 
    .contact-btn
        padding: 10px 20px
    .active-form-part
        height: 70%
        width: 90%
    .contact-form-date
        position: relative
        margin: 10px auto
        display: block
        width: 40%


